body {
  margin: 0px;
}

.myCircle {
  fill: red;
  opacity: 0.3;
}

.myCircle:hover {
  fill: blue;
}

text {
  font-family: sans-serif;
  pointer-events: none;
}

.tick text {
  font-size: 2.7em;
  fill: #635F5D;
}

.tick line {
  stroke: #C0C0BB;
}

.axis-label {
  font-size: 5em;
  fill: #8E8883;
}

.title {
  font-size: 3.7em;
  fill: #635F5D;
}

.zoomRect {
  fill: none;
  pointer-events: all;
}