.titre {
  padding: 0px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.center {
  margin: auto;
}

.dot {
  stroke: none;
  fill-opacity: 0.5;
}

.dot.selected {
  stroke: #000000;
  stroke-width: 2px;
  fill-opacity: 0.8;
}

.graph {
  stroke: black;
  text-align: center;
}