body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }

body { background: #fff; }
/* optional Container STYLES */
.chart { height: 600px; width: 900px; margin: 15px auto; border: 5px solid #DDD; border-radius: 5px;
}
.Treant > .node {  }
.Treant > p { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; font-weight: bold; font-size: 12px; }
.node-name { font-weight: bold;
             text-align: center;    
            }
.node-desc{
    text-align : center;
    font-weight : bold;
}

.node-perso1{
    text-align: center;
}

.node-perso2{
    text-align: center;
}

.node-perso3{
    text-align: center;
}
.nodeExample1 {
    padding: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #000;
    width: 200px;
    font-family: Tahoma;
    font-size: 12px;
}

.Treant .collapse-switch { width: 100%; height: 100%; border: none; }
.Treant .node.not-collapsed { background-color: #DCDCDC ; }

.light-green {
    background-color: #a9ff8c;
}

.light-red {
    background-color: #ff6464;
}

.green{
    background-color: #4bff37;
}

.red {
    background-color : #b90606;
}